<html>
	<head>

		<title>Page Web Kiki</title>


	</head>
	<body>
		<h1>Page d'accueil</h1>
		<h2>Bienvenue
			{{name}}, tu as
			{{age}}
			ans.
		</h2>
		<a href="{{ path('app_contact') }}">Contact</a>
	</body>

</html>
