{% extends 'base.html.twig'  %}


{% block title  %}Page Accueil Kiki
{% endblock %}


{% block container  %}


	<h1>Page d'accueil</h1>
	<h2>Bienvenue
		{{name|capitalize}}
		, tu as
		{{age}}
		{%if age >1  %}
			ans.
			{% else%}
			an.
		{% endif %}

	</h2>
	{%if age >= 18  %}
		Tu es majeur.
		{% else%}
		Tu es mineur.
	{% endif %}
	<br>
	<p>Ternaire :
		{{age>=18?"Tu es majeur":"Tu es mineur"}}</p>


{% endblock %}
